<a href="https://colab.research.google.com/github/Rohita-G/rohita-gangishetty-700750412/blob/main/icp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
from statistics import *
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages[0],ages[-1])
print(ages)
print(median(ages))
print(mean(ages))
x=range(ages[-1]-ages[0])
print(x)

19 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
24.0
22.8
range(0, 7)

In [135]:
dog = {'name':'oreo','color':'black','breed':'lab','legs':4,'age':4}
student={'first_name':'dan','last_name':'ric','gender':'male','age':33,'marital_status':'single','skills':['drive','coding'],'country':'aus','city':'mel','address':'xyz'}
print(len(student))
print(student['skills'])
skill=student['skills']
skills_type=type(skill)
print('skills type:',skills_type)
student['skills'].append('sking')
student['skills'].extend(['surfing', 'golfing'])
print('student skills are:',student['skills'])
keys_list = list(student.keys())
print("Dictionary keys as a list:", keys_list)
values_list = list(student.values())
print("Dictionary values as a list:", values_list)

9
['drive', 'coding']
skills type: <class 'list'>
student skills are: ['drive', 'coding', 'sking', 'surfing', 'golfing']
Dictionary keys as a list: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values as a list: ['dan', 'ric', 'male', 33, 'single', ['drive', 'coding', 'sking', 'surfing', 'golfing'], 'aus', 'mel', 'xyz']

In [124]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('length:',len(it_companies))
print('it company original list:',it_companies)
it_companies.add("twitter")
print('after adding twitter:',it_companies)
it_companies.update(['whatsapp','snapchat'])
print('adding 2 more companies:',it_companies)
it_companies.remove('twitter')
print('removing a company:',it_companies)
A.remove(19)
print(A)
A.discard(4)                                                                        #here in set A element 4 is not available and yet it is not displaying any error unlike remove
A.discard(26)
print(A)
set_union=A.union(B)
print('join A and B:',set_union)
set_intersection=A.intersection(B)
print('intersection of A and B:',set_intersection)
print('is A subset of B:',A.issubset(B))
print('are A and B disjoin sets:',A.isdisjoint(B))
print('join A with B:', A.update(B))                                                                         #joining A with B
print('join B with A:', B.update(A))                                                                         #joining B with A
print(A)
print('symmetric difference between A and B:',A.symmetric_difference(B))
del A
del B                                                                                    #set A and B are deleted
age_set = set(age)                                                                      #converting it into a set type
len_age_list = len(age)
len_age_set = len(age_set)
print("Length of age list:", len_age_list)
print("Length of age set:", len_age_set)

length: 7
it company original list: {'Facebook', 'Apple', 'IBM', 'Google', 'Amazon', 'Microsoft', 'Oracle'}
after adding twitter: {'Facebook', 'Apple', 'IBM', 'Google', 'Amazon', 'Microsoft', 'twitter', 'Oracle'}
adding 2 more companies: {'Facebook', 'Apple', 'twitter', 'Amazon', 'Microsoft', 'IBM', 'Google', 'snapchat', 'whatsapp', 'Oracle'}
removing a company: {'Facebook', 'Apple', 'Amazon', 'Microsoft', 'IBM', 'Google', 'snapchat', 'whatsapp', 'Oracle'}
{20, 22, 24, 25, 26}
{20, 22, 24, 25}
join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A and B: {24, 25, 20, 22}
is A subset of B: True
are A and B disjoin sets: False
join A with B: None
join B with A: None
{19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B: set()
Length of age list: 8
Length of age set: 5

In [143]:
from statistics import mean
class Employee:
    employee_count = 0
    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1
    def average_salary(self, salaries):
        return mean(salaries)
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department, experience):
        super().__init__(name, family, salary, department)
        self.experience = experience
e1 = Employee("John", "Spouse", 70000, "IT")
e2 = Employee("Jasmine", "son", 55000, "tester")
fe1 = FulltimeEmployee("Alice", "Spouse", 70000, "Marketing", 5)
fe2 = FulltimeEmployee("Bob", "Child", 75000, "Finance", 2)
salaries = [e2.salary, fe2.salary]
avg_salary_employee1 = e1.average_salary(salaries)
avg_salary_fulltime_employee1 = fe1.average_salary(salaries)
print("Average salary for Employee 1:", avg_salary_employee1)
print("Average salary for Fulltime Employee 1:", avg_salary_fulltime_employee1)
print("Total Employee count:", Employee.employee_count)

Average salary for Employee 1: 65000
Average salary for Fulltime Employee 1: 65000
Total Employee count: 4